# Node.js
node_modules/
frontend/node_modules/

# Dependency directories

bower_components/

# macOS
.DS_Store

# JetBrains IDEs
.idea/

# Visual Studio Code
.vscode/

# Logs and databases
*.log
*.sqlite

# Environment variables
.env

# Compiled files
*.class
*.war
*.jar
*.pyc
*.pyo
*.pyd
__pycache__/

# Build output

# Node.js logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor-specific files
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS
._*
.DS_Store
